<span style='color: #000' title='Frames'>   294</span><span style='color: #009' title='Memory'>  10240.00 KB</span><span style='color: #900' title='Time'>   3890.14 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />